.dashboard {
    background-color: #F8F9FA; 
    height: 105vh;
  }

  .left-navbar{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-section {
    display: flex;
    align-items: center;
  }
  
  .navbar-section-title {
    font-size: 32px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
    color: #1B73E8;
    font: 'Work Sans';
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .navbar-user-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .navbar-user-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('user_profile.png'); 
    background-color: #ccc;
    margin-right: 40px;
    margin-left: 30px;
  }
  
  .dashboard-content {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .dashboard-left {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font: 'Roboto';
  }

  .dashboard-left-top {
    flex: 1;
    display: flex;
    margin: 8px;
    font: 'Roboto';
  }
  
  .dashboard-left-middle {
    flex: 1;
    display: flex;
    margin: 8px;
  }

  .dashboard-left-bottom {
    flex: 1;
    display: flex;
    margin: 8px;
  }

  .dashboard-metrics {
    flex: 1;
    display: flex;
    margin: 0px;
    width: 100%;
  }

  .dashboard-right {
    flex: 3;
    height: 650px;
    margin-left: 1rem;
    margin: 10px 20px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column
  }

  .card .p{
    font-size: 20px;
  }